 
.food-test{
    position: absolute;
    width: 60px;
    height: 60px;
    color: white;
    right: 10px;

    &__masago{
        background: url('../../assets/foods/masago.svg') no-repeat center;
        background-size: contain;
    }
    
    &__shirimp{
        background: url('../../assets/foods/shirimp.svg') no-repeat center;
        background-size: contain;
    }
    
    &__egg{
        background: url('../../assets/foods/egg.svg') no-repeat center;
        background-size: contain;
    }
    
    &__salmon{
        background: url('../../assets/foods/salmon.svg') no-repeat center;
        background-size: contain;
    }
}