 
.food-test{
    position: absolute;
    width: 90px;
    height: 90px;
    color: white;
    right: 10px;

    &__sushi{
        background: url('../../assets/foods/sushi.svg') no-repeat center;
        background-size: contain;
    }
    
    &__hamburger{
        background: url('../../assets/foods/hamburger.svg') no-repeat center;
        background-size: contain;
    }
    
    &__beef{
        background: url('../../assets/foods/beef.svg') no-repeat center;
        background-size: contain;
    }
    
    &__apple{
        background: url('../../assets/foods/apple.svg') no-repeat center;
        background-size: contain;
    }
}