@use '../../styles/partials/keyframes.scss' as *;

.root{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__bg{
        background: url('../../assets/background/dish-black.svg') no-repeat center;
        background-size: contain;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: pump 0.4s ease infinite alternate;
    }

    &__title{
        color: white;
        font-size: 3rem;
        margin: 1rem 0;
    }

    &__list{
        color: white;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__item{
        margin: 1rem 0;

        &:hover{
            transform: scale(1.15);
            color: aquamarine;
        }
    }
}

