.screen{
    &__paused{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        background:  rgba(0, 0, 0, 0.406);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 1s ease;
        color: white;
        font-size: 4rem;
    }
}

.userProfile{
    font-weight: bold;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: center;

    &__container{
    }

    &__score{
        font-size: 3rem;
        margin: 0 3rem;
    }

    &__time{
        font-size: 3rem;
        margin: 0 3rem;
        text-align: center;
        width: 100px;
    }

    &__heart{
        background: url('../../assets/icons/heart-white.svg') no-repeat center;
        background-size: center;
        width: 40px;
        height: 40px;
        margin: 0.5rem;
    }
    
}
