.test-player{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    // background-color: white;
    background: url('../../assets/background/dish-white.svg');

    // &__dish{
    //     width: 50px;
    //     height: 10px;
    //     background: url('../../assets/background/dish-white.svg');
    //     position: absolute;
    //     bottom: 0px;
    //     right: 70px;
    // }

    &__food{
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 14px;
        left: 14px;
    }
}
 