.player{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: midnightblue;
    position: absolute;
    right: 100px;
}

@keyframes shoot {
    from{
        left: 100%;
        // transform: translateX(-100%);
    }

    to{
        left: -1%;
    }
}

.dish{
    top: 40px;
    right: 100px;
    width: 50px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    animation: shoot 4s ease infinite;
}
