.player{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // background-color: midnightblue;
    background: url('../../assets/playerDefault.gif');
    position: absolute;
    right: 100px;
}

@keyframes shoot {
    from{
        right: 100px;
        // transform: translateX(-100%);
    }

    to{
        right: 100%;
    }
}

.dish{
    top: 40px;
    right: 100px;
    width: 50px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    animation: shoot 4s ease infinite;
}

.score{
    font-size: 4rem;
    text-align: right;
    font-weight: bold;
}