.player{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    transform: translateY(-80%);
}

@keyframes shoot {
    from{
        right: 100px;
        transform: translateX(-100%);
    }

    to{
        right: 100%;
    } 
}

.dish{
    top: 40px;
    right: 100px;
    width: 50px;
    height: 10px;
    background-color: aqua;
    position: absolute;
    animation: shoot 4s ease infinite;
}

.score{
    font-size: 4rem;
    text-align: right;
    font-weight: bold;
    color: white;
}