.player{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    transform: translateY(-80%);
}

@keyframes shoot {
    from{
        right: 100px;
    }

    to{
        right: 99%;
    } 
}

.dish{
    top: 40px;
    right: 100px;
    width: 50px;
    height: 10px;
    background-color: aqua;
    position: absolute;
    animation: shoot 3s ease infinite;

    &__food{
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 5px;
    }

    &__sushi{
        background: url('../../assets/foods/sushi.svg') no-repeat center;
        background-size: contain;
    }
    
    &__hamburger{
        background: url('../../assets/foods/hamburger.svg') no-repeat center;
        background-size: contain;
    }
    
    &__beef{
        background: url('../../assets/foods/beef.svg') no-repeat center;
        background-size: contain;
    }
    
    &__apple{
        background: url('../../assets/foods/apple.svg') no-repeat center;
        background-size: contain;
    }
}

.score{
    font-size: 4rem;
    text-align: right;
    font-weight: bold;
    color: white;
}
